<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}

    {% if messages %}
    <div>
        <strong>Messages :</strong>
        <ul>
            {% for message in messages %}
            <li>{{messages}}</li>
            {% endfor %}
        </ul></div>

        {% endif %}
        <div>
            <strong>Menu:</strong>
            <ul>
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
        {% block content %}
        {%endblock%}
        {%endblock%}
</body>
</html>